name: Composer Create Project
on:
#  push:
  schedule:
    - cron: "1 1 * * *"
  workflow_dispatch:

jobs:
  create-project:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - { PHP_VERSION: 8.3, MAGENTO_VERSION: 2.4.7-p3, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.3, MAGENTO_VERSION: 2.4.7-p2, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.3, MAGENTO_VERSION: 2.4.7-p1, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.2, MAGENTO_VERSION: 2.4.7, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.6-p8, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.6-p7, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.6-p6, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.6-p5, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.6-p4, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.2, MAGENTO_VERSION: 2.4.6-p3, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.6-p2, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.2, MAGENTO_VERSION: 2.4.6-p1, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.2, MAGENTO_VERSION: 2.4.6, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p10, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p9, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p8, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p7, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p6, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p5, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p4, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p3, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p2, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5-p1, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.5, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p11, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p10, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p9, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p8, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p7, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p6, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 8.1, MAGENTO_VERSION: 2.4.4-p5, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.4.4-p4, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.4.4-p3, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.4.4-p2, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.4.4-p1, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.4.4, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.4.3-p2, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.3-p1, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.3, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.2-p2, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.2-p1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.2, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.1-p1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.0-p1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.4.0, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.3.7-p4, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.3.7-p3, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.3.7-p2, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.3.7-p1, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.4, MAGENTO_VERSION: 2.3.7, COMPOSER_VERSION: v2 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.3.6-p1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.3.6, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.3.5-p2, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.3.5-p1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.3.4, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.3, MAGENTO_VERSION: 2.3.3, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.2, MAGENTO_VERSION: 2.3.2, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.2, MAGENTO_VERSION: 2.3.1, COMPOSER_VERSION: v1 }
          - { PHP_VERSION: 7.2, MAGENTO_VERSION: 2.3.0, COMPOSER_VERSION: v1 }

    steps:
      - uses: actions/checkout@v4
        continue-on-error: true
        id: checkout-branch
        with:
          ref: 'magento-${{ matrix.MAGENTO_VERSION }}'
          path: 'magento'

      - uses: actions/checkout@v4
        name: Checkout main if the version branch does not exists
        if: steps.checkout-branch.outcome != 'success'
        with:
          path: 'magento'

      - name: Create empty branch if branch does not exists
        if: steps.checkout-branch.outcome != 'success'
        run: |
          cd magento
          git switch --orphan magento-${{ matrix.MAGENTO_VERSION }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '${{ matrix.PHP_VERSION }}'
          tools: 'composer:${{ matrix.COMPOSER_VERSION }}'

      - name: Set Composer auth
        run: |
          echo '${{ secrets.COMPOSER_AUTH_JSON }}' > "$(composer config --global home)/auth.json"

      - name: Install hirak/prestissimo for V1
        if: matrix.COMPOSER_VERSION == 'v1'
        run: composer global require hirak/prestissimo

      - name: Run "composer create-project"
        run: |
          composer create-project --no-install --repository-url=https://repo.magento.com/ magento/project-community-edition=${{ matrix.MAGENTO_VERSION }} latest

      - name: Allow plugins
        if: matrix.COMPOSER_VERSION == 'v2'
        run: |
          cd latest
          composer config --no-plugins --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
          composer config --no-plugins --no-interaction allow-plugins.laminas/laminas-dependency-plugin true
          composer config --no-plugins --no-interaction allow-plugins.magento/* true

      - name: Run composer install
        run: |
          cd latest
          composer install

      - name: Stage changes
        run: |
          mv magento/.git latest/.git
          cd latest
          rm -fr var/vendor/autoload.php var/vendor/composer
          git add -Af
          git rm --cached composer.lock
          git rm --cached -r vendor
          git add -Af vendor/magento

      - name: Check for changes
        id: git_check
        run: |
          cd latest
          if git diff --cached --quiet; then
            echo "No changes to commit."
            echo "changes=false" >> $GITHUB_OUTPUT
          else
            echo "Changes detected."
            echo "changes=true" >> $GITHUB_OUTPUT
          fi

      - name: Configure git
        if: steps.git_check.outputs.changes == 'true'
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Commit and Push changes
        if: steps.git_check.outputs.changes == 'true'
        run: |
          cd latest
          git commit -m "Daily update: $(date +'%Y-%m-%d')"
          git push origin magento-${{ matrix.MAGENTO_VERSION }}
